# Bleeding edge Django
django==1.8.2

# Configuration

python-daemon==1.6
django-secure==1.0.1
django-cache-url==0.8.0
dj-database-url==0.3.0
django-filter==0.7

# XXX: provisory for django 1.8 support
git+https://github.com/jezdez/django-configurations.git

# Models
django-model-utils==2.2

# Images & Media
Pillow==2.8.1
mimeparse==0.1.3

# Date utils
DateTime==4.0.1
python-dateutil==2.2
pytz==2014.10

# Django-rest API
djangorestframework==2.3.9

# Database
psycopg2==2.6.1

# Third party apps
